<DOCTYPE! html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Basic html Content Page</title>
  <link rel="stylesheet" type="text/css" href="CSS-Template.css">
  <style>section
	{
		float: left;
		width: calc(80% - 100px);
		margin: 0 50px 50px 50px;
	}
	li
	{
		text-align: left;
	}
	</style>
</head>
<body class="hello">

  <header>
     <img src="images/logo.png" alt="computer logo" style="width:220;height:100;"><br>
	<h2>"Here, you have the entire World in your fingertips!"</h2>
  </header>
  
  <nav>
  <img src="images/geo5.jpg" alt="computer logo" style="width:200;height:160;">
    <ul>
	  <li><a href="HTML-HomePage.html">Home</a></li>
	  <li><a href="HTML-ContentPage.html">Content</a></li>
	  <li><a href="HTML-VideoPage.html">Videos</a></li>
	  <li><a href="HTML-LinksPage.html">Links</a></li>
    </ul>
  </nav>
  
  <section>
   Learn about the continents in the video below!
    
    <article>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/A-N_HdQJJOg" frameborder="0" allow="autoplay"; encrypted-"media" allowfullscreen></iframe>
	</article>
    <footer>
	
	<form>
  What did you learn during this video?<br>
  <input type="text" name="firstname"><br>
  What is something that you found interesting?<br>
  <input type="text" name="lastname">
  <input type="submit" value="Submit">
</form>


<form>
<center>Would you consider taking a Geography class in the future?</center>
  <input type="radio" name="gender" value="male" checked> Yes<br>
  <input type="radio" name="gender" value="female"> No<br>
  <input type="radio" name="gender" value="other"> Maybe
</form>
<form>
<center>How do you feel about this subject?</center>
  <input type="radio" name="gender" value="male" checked> :)<br>
  <input type="radio" name="gender" value="female"> :(<br>
  <input type="radio" name="gender" value="female"> :o <br>
</form>


	</footer>
	
  </section>
  
  <footer>
  
  <center>Feel free to contact us at: <a href="mailto:morrisonc3@duvalschools.org?Subject=Web%20Site%20Inquiry" target="_top"> geokids@gmail.com </a></center>
	<img src="images/logo.png" alt="computer logo" style="width:140;height:70;"><br>
  </footer>
  
</body>
</html>