<DOCTYPE! html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Basic html Content Page</title>
  <link rel="stylesheet" type="text/css" href="CSS-Template.css">
  
</head>



  <header>
     <img src="images/logo.png" alt="computer logo" style="width:220;height:100;"><br>
	<h2>"Here, you have the entire World in your fingertips!"</h2>
  </header>
  
  <nav>
  <img src="images/geo3.jpg" alt="computer logo" style="width:215;height:150;"><br>
    <ul>
	  <li><a href="HTML-HomePage.html">Home</a></li>
	  <li><a href="HTML-ContentPage.html">Content</a></li>
	  <li><a href="HTML-VideoPage.html">Videos</a></li>
	  <li><a href="HTML-LinksPage.html">Links</a></li>
    </ul>
  </nav>
  
  <section>
   <center> Geography</center>
    <header>Are you interested in learning about different places around the world? If yes, Geography is the perfect subject for you!</header>
    <article>
	Geography is a fun and interesting social studies subject that teaches you about the world and places around you.It teaches you about different:
	  <ul>
	  <li>continents</li>
	  <li>countries</li>
	  <li> oceans</li>
	  <li>cultures</li>
	  <li>languages</li>
    </ul>
	And much, much more!
	
	
	The best part is that you will learn many things not only about Earth, but also about the:
	<ul>
	  <li> galaxy</li>
	  <li>stars</li>
	  <li> sun</li>
	  <li> planets</li>
	  etc...
    </ul>
	</article>
	<img src="images/geo1.jpg" alt="computer logo" style="width:300;height:200;"><br>

  </section>
 
  <aside>
  <img src="images/geo2.jpg" alt="computer logo" style="width:200;height:200;"><br>
	Contact Form:
	<hr>
    <div class="container">
		<form action="">

			<label for="fname">First Name</label>
			<input type="text" id="fname" name="firstname" placeholder="Your name..">

			<label for="lname">Last Name</label>
			<input type="text" id="lname" name="lastname" placeholder="Your last name..">

			<label for="subject">Subject</label>
			<textarea id="subject" name="subject" placeholder="Write something.." style="height:150px"></textarea>

			<input type="submit" value="Submit">
		</form>
	</div>
  </aside>
  
  <footer>
  
	<center>Feel free to contact us at: <a href="mailto:morrisonc3@duvalschools.org?Subject=Web%20Site%20Inquiry" target="_top"> geokids@gmail.com </a></center>
	
	<img src="images/logo.png" alt="computer logo" style="width:140;height:70;"><br>

  </footer>
  
</body>
</html>
