<DOCTYPE! html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Basic html Content Page</title>
  <link rel="stylesheet" type="text/css" href="CSS-Template.css">
  <style>section
	{
		float: left;
		width: calc(80% - 100px);
		margin: 0 50px 50px 50px;
	}
	</style>
</head>
<body class="hello">
  <header>
   <img src="images/logo.png" alt="computer logo" style="width:220;height:100;"><br>
	<h2>"Here, you have the entire World in your fingertips!"
	<h2>
	
  </header>
  <nav>
<img src="images/geo7.jpg" alt="computer logo" style="width:200;height:200;">
    <ul>
	  <li><a href="HTML-HomePage.html">Home</a></li>
	  <li><a href="HTML-ContentPage.html">Content</a></li>
	  <li><a href="HTML-VideoPage.html">Videos</a></li>
	  <li><a href="HTML-LinksPage.html">Links</a></li>
    </ul>
  </nav>
 
  <section>
  <center> <header>Learn all you want to know about the world around you!</center>
	
			<img src="images/geo15.jpg" alt="computer logo" style="width:250;height:180; ">
	</header> 
    <article><img src="images/geo11.jpg" alt="computer logo" style="width:400;height:150;"><br>
		Our geography for kids will transport you to some of the planet’s coolest countries.
	Explore the lush rainforests of Brazil, the incredible architecture of Italy and set out on a spectacular Kenyan safari – just to name a few.

Learn about the people who live there, the wildlife you’ll find there, local government and diverse landscapes.
 Plus discover awesome natural wonders like volcanoes, glaciers and wacky weather systems in our geography for kids!</article>
   
  </section>
  <footer>
	<center>Feel free to contact us at: <a href="mailto:morrisonc3@duvalschools.org?Subject=Web%20Site%20Inquiry" target="_top"> geokids@gmail.com </a></center>
	
	<img src="images/logo.png" alt="computer logo" style="width:140;height:70;"><br>
  </footer>
</body>
</html>