<DOCTYPE! html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Basic html Content Page</title>
  <link rel="stylesheet" type="text/css" href="CSS-Template.css">
  <style>section
	{
		float: left;
		width: calc(80% - 100px);
		margin: 0 50px 50px 50px;
	}
	</style>
</head>
<body class="hello">
  <header>
     <img src="images/logo.png" alt="computer logo" style="width:220;height:100;"><br>
	<h2>"Here, you have the entire World in your fingertips!"</h2>
  </header>
  <nav>
 <img src="images/geo16.jpg" alt="computer logo" style="width:200;height100;">
    <ul>
	  <li><a href="HTML-HomePage.html">Home</a></li>
	  <li><a href="HTML-ContentPage.html">Content</a></li>
	  <li><a href="HTML-VideoPage.html">Videos</a></li>
	  <li><a href="HTML-LinksPage.html">Links</a></li>
    </ul>
  </nav>
  <section>
  
    
	<center> Click here to look up more interesting facts about Geography!</center>
	 <header>
	<a href="https://www.kids-world-travel-guide.com/geography-facts.html">
	<img src="images/geo13.jpg" alt="HTML tutorial" style="width:300px;height:180px;border:0;">
	</a>
	</header>
    
	<center> Want to challenge your friend in a fun Geography quiz?
	Click the image below!</center>
	 <article>
	<a href="http://www.triviaplaza.com/geography-world-quizzes/">
	<img src="images/geo14.jpg" alt="HTML tutorial" style="width:300px;height:180px;border:0;">
	</a>
	</article>
   <center>
	Click the links below to learn more cool facts about the world!
	</center>
	 <footer>
	 
	<a href="http://www.ducksters.com/geography/">Learn more about the countries of the world here!</a>
	<a href="https://www.coolkidfacts.com/geography/">Visit different continents here!</a>
	<center>
	<a href="http://www.triviaplaza.com/world-flags-1-quiz/">Learn about different flags here!</a></center>
	
	</footer>
  </section>
  <footer>
    <center>Feel free to contact us at: <a href="mailto:morrisonc3@duvalschools.org?Subject=Web%20Site%20Inquiry" target="_top"> geokids@gmail.com </a></center>
	
	<img src="images/logo.png" alt="computer logo" style="width:140;height:70;"><br>
  </footer>
</body>
</html>